*, ::after, ::before {
    box-sizing: border-box;
  }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    background:url("https://i.pinimg.com/originals/a8/0c/07/a80c07903c2065a4ef1a59c963daec70.jpg");
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
header .container {
    opacity: .6;
    height: inherit;
}
header {
    height: 233px;  
    margin-top: 0px;
    position: relative;
    width: 100%;
    background-color: white;
}
ul {
    width: 100%;
    list-style: none;
}
ul li {
    display: inline;
}
header ul {
    position: absolute;
    bottom: 20px;
}
header ul li{
    font-size: 25px;
    margin-left: 50px
}
header ul li:hover {
    opacity: 1;
    border-bottom: 5px solid darkgray;
    font-size: 30px;
    
}
ul li {
    text-align: center;
    margin: 20px;
}
#about {
    height: 800px;
    width: (100%-10px);
    background: lightsteelblue;
    margin: 10px;
    border-radius: 5px;
}
#about #imgLeft {
    width: 25%;
    float: left;
}
#about #imgRight {
    width: 25%;
    float: right;
}

#about #text {
    width: 45%;
    display: inline-block;
}

#imgLeft .container, #imgRight .container {
    height: 600px;
    width: auto;
    opacity: .8;
    border-radius: 5px;
}
#hobby {
    text-align: left;
    margin-left: 150px;
    
}

/*
#powerlifting .text {
    width: 75%;
    float: left;
}
*/
#powerlifting, #gameDesign, #music {
    margin-bottom: 200px;
    width: 65%;
    
}
#powerlifting .container {
    height: 20%;
    width: 20%;
    float: right;
}

#hobby p {
    margin-left: 15%;
}
#hobby h1 {
    margin-bottom: 100px;
}
#container #column{
    width: 33%;
    float: left;
 
}
#container #column .container{
    width:100px;
    display: inline-block;
    text-align: center;
}
#container #column .container:hover{
    width: 120px;
}

#textCont {
    width: 75%;

}

#imgCol .container{
    width: 200px;
    float: right;

}
footer {
    position: absolute;
    background: lightblue;
    width: 100%;
    padding: 20px;
}
footer ul {
    margin-bottom: 200px;
}
